<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chai.imciapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ministrylogo"
        android:label="@string/app_name"
        android:theme="@android:color/background_light"
         >
        <activity
            android:name="com.example.androidimci.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.imciprojectfull.login.Login_Main"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_2_60_Cough"
            android:label="@string/lbl_cough" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_2_60_Diarr"
            android:label="@string/lbl_diarrhoea" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_2_60_Fever"
            android:label="@string/lbl_fever" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_2_60_Ear_Problem"
            android:label="@string/lbl_ear_problem" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_2_60_Hiv"
            android:label="@string/lbl_hiv" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_2_60_Malnutrition"
            android:label="@string/lbl_malnutrition" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_0_2_Severe_Disease"
            android:label="@string/lbl_severedisease" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_0_2_Diarrhoea"
            android:label="@string/lbl_diarrhoea" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_0_2_Jaundice"
            android:label="@string/lbl_jaundice" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_0_2_EyeInfection"
            android:label="@string/lbl_eyeproblem" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_0_2_HIVExposure"
            android:label="@string/lbl_hiv" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_0_2_SpecialTreatments"
            android:label="@string/lbl_specialtreatment" >
        </activity>
        <activity
            android:name="org.inclusion.imcione.Starter_0_2_FeedingProblem"
            android:label="@string/lbl_feeding" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_Persistent_Diarrhoea"
            android:label="@string/lbl_Starter_Follow_Persistent_Diarrhoea" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_Dysentry"
            android:label="@string/lbl_Starter_Follow_Dysentry" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_EyeInfection"
            android:label="@string/lbl_Starter_Follow_EyeInfection" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_EarInfection"
            android:label="@string/lbl_Starter_Follow_EarInfection" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_EyeMouth"
            android:label="@string/lbl_Starter_Follow_EyeMouth" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_Feeding"
            android:label="@string/lbl_Starter_Follow_Feeding" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_FeverNoMalaria"
            android:label="@string/lbl_Starter_Follow_FeverNoMalaria" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_HivExposed"
            android:label="@string/lbl_Starter_Follow_HivExposed" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_LowWeight"
            android:label="@string/lbl_Starter_Follow_LowWeight" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_Malaria"
            android:label="@string/lbl_Starter_Follow_Malaria" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_Pallor"
            android:label="@string/lbl_Starter_Follow_Pallor" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_Pneumonia"
            android:label="@string/lbl_Starter_Follow_Pneumonia" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.Starter_Follow_Wheezing"
            android:label="@string/lbl_Starter_Follow_Wheezing" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.YoungStarter_Follow_Bacterial"
            android:label="@string/lbl_YoungStarter_Follow_Bacterial" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.YoungStarter_Follow_Diarrhoea"
            android:label="@string/lbl_YoungStarter_Follow_Diarrhoea" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.YoungStarter_Follow_EyeInfection"
            android:label="@string/lbl_YoungStarter_Follow_EyeInfection" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.YoungStarter_Follow_FeedingProblem"
            android:label="@string/lbl_YoungStarter_Follow_FeedingProblem" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.YoungStarter_Follow_Jaundice"
            android:label="@string/lbl_YoungStarter_Follow_Jaundice" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.YoungStarter_Follow_LowWeight"
            android:label="@string/lbl_YoungStarter_Follow_LowWeight" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.starter.YoungStarter_Follow_ThrushMouthUlcers"
            android:label="@string/lbl_YoungStarter_Follow_ThrushMouthUlcers" >
        </activity>
        <activity
            android:name="com.example.androidimci.examination.Examination_General_Danger"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.imciprojectfull.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="Result_Signs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.treatments.Treatments_List"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.treatments.Treatments_List_Young"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up__HivExposed"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Dysentry"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Ear_Infection"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Feeding_Problem"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Fever_No_Malaria"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Hiv"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Malaria"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Pallor"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Persistent_Diarrhoea"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Pneumonia"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Very_Low_Weight"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.followupcare.Follow_Up_Wheezing"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.What_to_Check_2_60"
            android:label="@string/lbl_What_To_Check" >
        </activity>
        <activity
            android:name="com.example.androidimci.What_to_Check_0_2"
            android:label="@string/lbl_What_To_Check" >
        </activity>
        <activity
            android:name="com.example.androidimci.First_Main"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="Sypmtoms_and_treatment_Malaria"
            android:label="@string/treatments" >
        </activity>
        <activity
            android:name="com.example.androidimci.Expand_Disease_Cough"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Expand_Disease_Diarrhoea"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Expand_Disease_EarInfection"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Expand_Disease_Fever"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Expand_Disease_Hiv"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Expand_Disease_Malnutrition"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Expand_Disease_Diarrhoea"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Expand_Disease_Eye_Infection"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Expand_Disease_Hiv"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Expand_Disease_Jaundice"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Expand_Disease_Low_Weight"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Expand_Disease_Severe_Disease"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Expand_Disease_Special"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Result_Signs_Cough"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Result_Signs_Diarrhoea"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Result_Signs_EarInfection"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Result_Signs_Fever"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Result_Signs_Hiv"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Result_Signs_Malnutrition"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Result_Signs_Diarrhoea"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Result_Signs_EyeInfection"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Result_Signs_FeedingProblem"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Result_Signs_Hiv"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Result_Signs_Jaundice"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Result_Signs_LowWeight"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Result_Signs_SpecialTreatment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Result_Signs_Very_Severe_Disease"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Confirmed_Hiv"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Congenital_Cancer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Congenital_Glaucoma"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_HIV_exposed"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Hiv_Unlikely"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Jaundice"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_LocalBacterial"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_LowBodyTemp"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_No_Dehydr"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_No_Jaundice"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Serious_Adbominal"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Severe_Disease"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Severe_Eye_Infection"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Severe_Jaundice"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Severe_Prolonged_Diarrhoea"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Severe_dehydr"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Some_Dehydr"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Squint"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Susp_Symptomatic"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Unlikely_Congenital"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.treatments.Young_Treatment_Unlikely_SevereorBact"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Signs_Ear"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Signs_Cough"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Signs_Diarrhoea"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Signs_Fever"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Signs_Hiv"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Signs_Malnutrition"
            android:label="@string/Pdiseases" >
        </activity>
        <!-- activites for the young -->
        <activity
            android:name="com.example.signs.Main_Ysigns_Diarrhoea"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Ysigns_EyeInfection"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Ysigns_Hiv"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Ysigns_Jaundice"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Ysigns_LowWeight"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Ysigns_SevereDisease"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.signs.Main_Ysigns_SpecialTreatment"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Acute_Ear_Infection"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_At_Risk_Acute_Malnutrition"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Chronic_Ear_Infection"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Dysentry"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Eye_Mouth_Measles"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Fever_No_Malaria"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Malaria"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Mastoditis"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Moderate_Acute_Malnutrition"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_No_Anaemia"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_No_Dehydration"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_No_Ear_Infection"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_No_Malnutrition"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_No_Pneumonia_Cold"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Persistent_Diarrhoea"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Pneumonia"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Severe_Acute_Malnutrition"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Severe_Anaemia"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Severe_Complications_Measles"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Severe_Dehydration"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Severe_Febrile_Diseases"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Severe_Persistent_Diarrhoea"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Severe_Pneumonia"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Some_Dehydration"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_Suspected_Measles"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.treatments.Treatment_No_Eye_Mouth"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="Look_60_Cough"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="Look_60_Diarrhoea"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="Look_60_EarInfection"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="Look_60_Fever"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="Look_60_Hiv"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="Look_60_Malnutrition"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Look_0_Diarrhoea"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Look_0_Eye_Infections"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Look_0_Hiv_Exposed"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Look_0_Jaundice"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Look_0_Low_Weight"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Look_0_Severe_Disease"
            android:label="@string/Pdiseases" >
        </activity>
        <activity
            android:name="com.example.androidimci.Young_Look_0_Special_Treatment"
            android:label="@string/Pdiseases" >
        </activity>
    </application>
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
