<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chai.imci">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".First_Main"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/main_menu"></activity>
        <activity
            android:name=".hiv_care_children.NVPMain"
            android:label="@string/lbl_Eid_Testing"></activity>
        <activity
            android:name=".counsel_mother.CounselMother"
            android:label="@string/lbl_Counsel_Mother"></activity>
        <activity
            android:name=".assessment.AssessmentActivity"
            android:label="@string/lbl_Assessment"></activity>
        <activity
            android:name=".treatchild.TreatTheChildActivity"
            android:label="@string/lbl_Treat_The_Child"></activity>
        <activity
            android:name=".assessment.What_to_Check_0_2"
            android:label="@string/lbl_Assessment"></activity>
        <activity
            android:name=".assessment.What_to_Check_2_60"
            android:label="@string/lbl_Assessment"></activity>
        <activity
            android:name=".assessment.Starter_0_2_FeedingProblem"
            android:label="@string/lbl_feeding"></activity>
        <activity
            android:name=".assessment.Starter_0_2_Diarrhoea"
            android:label="@string/lbl_young_diarrhoea"></activity>
        <activity
            android:name=".assessment.Starter_0_2_EyeInfection"
            android:label="@string/lbl_eyeproblem"></activity>
        <activity
            android:name=".assessment.Starter_0_2_HIVExposure"
            android:label="@string/lbl_hiv"></activity>
        <activity
            android:name=".assessment.Starter_0_2_Jaundice"
            android:label="@string/lbl_jaundice"></activity>
        <activity
            android:name=".assessment.Starter_0_2_SpecialTreatments"
            android:label="@string/lbl_specialtreatment"></activity>
        <activity
            android:name=".assessment.Starter_0_2_Severe_Disease"
            android:label="@string/lbl_severedisease"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Cough"
            android:label="@string/lbl_cough"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Anaemia"
            android:label="@string/lbl_anaemia"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Diarr"
            android:label="@string/lbl_diarrhoea"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Ear_Problem"
            android:label="@string/lbl_ear_problem"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Fever"
            android:label="@string/lbl_fever"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Hiv"
            android:label="@string/lbl_hiv"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Immunization"
            android:label="@string/lbl_immunization"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Malnutrition"
            android:label="@string/lbl_malnutrition"></activity>
        <activity
            android:name=".follow_up.FollowUpMain"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".follow_up.starter.Infant_Follow_UpMain"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".follow_up.starter.Follow_UpMainTwo"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".follow_up.starter.Starter_Follow_0_60"
            android:label="@string/app_name" />
        <activity
            android:name=".follow_up.starter.Starter_Follow_0_2"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.CareForDevelopment"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".treatchild.Oral_Drugs_0_2_At"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Oral_Drugs_2_60_At"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.healthfacility.HealthFacility0_2"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Treat_Child_Activity_0_2"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Young_Treatment_Health_Facility"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.healthfacility.Young_Intramuscular_Antibiotic"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.oral_drugs.Oral_Antibiotic"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Low_Blood_Sugar"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.oral_drugs.Young_Oral_Drugs_At_Home"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.local_infections.Young_Local_Infection_Instruct"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.local_infections.LocalUnivers"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.local_infections.Young_Local_Infections_At_Home"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Young_Teach_Correct_Positioning"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Young_Teach_Correct_Positioning_Instruct"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Plan_A_Treat_Diarrhoea"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Plan_B_Treat_Diarrhoea"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Plan_C_Treat_Diarrhoea"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Treatment_Health_Facility"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Activity_immunization_table"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.healthfacility.Convulsing_Now"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.healthfacility.Chloramphenicol_Table"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.healthfacility.First_Dose_of_Choramphenicol"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.healthfacility.Treat_Wheezing"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.healthfacility.Low_Blood_Sugar"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.healthfacility.Intramuscular_Antibiotic"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.healthfacility.Treatment_Severe_Malaria"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Teach_Mother_Oral_Drugs"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Teach_Mother_Local_Infections"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Rehydration_Severe_Malnutrition"
            android:label="@string/app_name" />
        <activity
            android:name=".treatchild.Supplement_multivitamin"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.AgeSixMonths"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.AgeSixMonthstoTwelveMonths"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.AgeTwelveMonthstoTwoYears"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.AgeTwoYearsandOlder"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.CareForDevelopmentUniversal"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.Counsel_Mother_Infant_Feeding"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.Counsel_Mother_Fluids"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.Counsel_CareforDevelopment"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.FeedingProblem"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.Counsel_Her_OwnHealth"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.FeedingAdvice_Breastfeed"
            android:label="@string/app_name" />
        <activity
            android:name=".counsel_mother.FeedingAdvice_NotBreastfeed"
            android:label="@string/app_name" />
    </application>

</manifest>
