<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ministryofhealth.imci">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".assessment.Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".assessment.ScreenSlideActivity"
            android:label="Help"></activity>
        <activity
            android:name=".assessment.First_Main"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.HomeActivity"
            android:label="@string/main_menu"></activity>
        <activity
            android:name=".assessment.hiv_care_children.NVPMain"
            android:label="@string/lbl_eid_testing"></activity>
        <activity
            android:name=".assessment.counsel_mother.CounselMother"
            android:label="@string/lbl_counsel_mother"></activity>
        <activity
            android:name=".assessment.AssessmentActivity"
            android:label="@string/lbl_assessment"></activity>
        <activity
            android:name=".assessment.treatchild.TreatTheChildActivity"
            android:label="@string/lbl_treat_the_child"></activity>
        <activity
            android:name=".assessment.What_to_Check_0_2"
            android:label="@string/lbl_assessment"></activity>
        <activity
            android:name=".assessment.What_to_Check_2_60"
            android:label="@string/lbl_assessment"></activity>
        <activity
            android:name=".assessment.Starter_Universal"
            android:label="@string/lbl_assessment"></activity>
        <activity
            android:name=".assessment.Starter_Immunization"
            android:label="@string/lbl_immunization"></activity>
        <activity
            android:name=".assessment.follow_up.FollowUpMain"
            android:label="@string/lbl_follow_up"></activity>
        <activity
            android:name=".assessment.follow_up.starter.Infant_Follow_UpMain"
            android:label="@string/lbl_follow_up"></activity>
        <activity
            android:name=".assessment.follow_up.starter.Follow_UpMainTwo"
            android:label="@string/lbl_follow_up"></activity>
        <activity
            android:name=".assessment.follow_up.starter.Starter_Follow_0_60"
            android:label="@string/lbl_follow_up" />
        <activity
            android:name=".assessment.follow_up.starter.Starter_Follow_0_2"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.CareForDevelopment"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.treatchild.Oral_Drugs_0_2_At"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Oral_Drugs_2_60_At"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.healthfacility.HealthFacility0_2"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Treat_Child_Activity_0_2"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Young_Treatment_Health_Facility"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.healthfacility.Young_Intramuscular_Antibiotic"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.oral_drugs.Oral_Antibiotic"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Low_Blood_Sugar"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.oral_drugs.Young_Oral_Drugs_At_Home"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.local_infections.Young_Local_Infection_Instruct"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.local_infections.LocalUnivers"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.local_infections.Young_Local_Infections_At_Home"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Young_Teach_Correct_Positioning"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Young_Teach_Correct_Positioning_Instruct"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Plan_A_Treat_Diarrhoea"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Plan_B_Treat_Diarrhoea"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Plan_C_Treat_Diarrhoea"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Treatment_Health_Facility"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Activity_immunization_table"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.healthfacility.Convulsing_Now"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.healthfacility.Chloramphenicol_Table"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.healthfacility.First_Dose_of_Choramphenicol"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.healthfacility.Treat_Wheezing"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.healthfacility.Low_Blood_Sugar"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.healthfacility.Intramuscular_Antibiotic"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.healthfacility.Treatment_Severe_Malaria"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Teach_Mother_Oral_Drugs"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Teach_Mother_Local_Infections"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Rehydration_Severe_Malnutrition"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.treatchild.Supplement_multivitamin"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.counsel_mother.AgeSixMonths"
            android:label="Recommendations for feeding during sickness and health" />
        <activity
            android:name=".assessment.counsel_mother.AgeSixMonthstoTwelveMonths"
            android:label="Recommendations for feeding during sickness and health" />
        <activity
            android:name=".assessment.counsel_mother.AgeTwelveMonthstoTwoYears"
            android:label="Recommendations for feeding during sickness and health" />
        <activity
            android:name=".assessment.counsel_mother.AgeTwoYearsandOlder"
            android:label="Recommendations for feeding during sickness and health" />
        <activity
            android:name=".assessment.counsel_mother.CareForDevelopmentUniversal"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.counsel_mother.Counsel_Mother_Infant_Feeding"
            android:label="Feeding Options:HIV Exposed" />
        <activity
            android:name=".assessment.counsel_mother.Counsel_Mother_Fluids"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.counsel_mother.Counsel_CareforDevelopment"
            android:label="Counsel on Care for Development Problems" />
        <activity
            android:name=".assessment.counsel_mother.FeedingProblem"
            android:label="Feeding Problems" />
        <activity
            android:name=".assessment.counsel_mother.Counsel_Her_OwnHealth"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.counsel_mother.FeedingAdvice_Breastfeed"
            android:label="@string/app_name" />
        <activity
            android:name=".assessment.counsel_mother.FeedingAdvice_NotBreastfeed"
            android:label="@string/app_name" />

    </application>

</manifest>
