<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chai.imci">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".First_Main"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.counsel_mother.CounselMother"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.AssessmentActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.treatchild.TreatTheChildActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.What_to_Check_0_2"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.What_to_Check_2_60"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_0_2_FeedingProblem"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_0_2_Diarrhoea"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_0_2_EyeInfection"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_0_2_HIVExposure"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_0_2_Jaundice"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_0_2_SpecialTreatments"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_0_2_Severe_Disease"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Cough"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Anaemia"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Diarr"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Ear_Problem"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Fever"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Hiv"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Immunization"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".assessment.Starter_2_60_Malnutrition"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".follow_up.FollowUpMain"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".follow_up.starter.Infant_Follow_UpMain"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".follow_up.starter.Follow_UpMainTwo"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".follow_up.starter.Starter_Follow_0_60"
            android:label="@string/app_name"/>
        <activity
            android:name=".follow_up.starter.Starter_Follow_0_2"
            android:label="@string/app_name"/>


    </application>

</manifest>
